@{
    ViewData["Title"] = "Upload Transaction";
}

<h2>Upload file transaction via csv and xml format</h2>

<form method="post" enctype="multipart/form-data" asp-controller="ImportTransactions" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
